@font-face {
  font-family: "iranyekanwebbold";
  src: local("iranyekanwebbold"),
    url(./assets/fonts/iranyekanwebbold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "iranyekanwebregular";
  src: local("iranyekanwebregular"),
    url(./assets/fonts/iranyekanwebregular.woff) format("woff");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranyekanwebregular, Aerial;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utility {
  .text-color1 {
    float: right;
    color: #d73948;
    display: block;
    font-size: 40px;
    font-weight: bold;
    min-width: 165px;
    line-height: 69px;
    margin: 0;
    padding: 0;
  }
}
