@font-face {
  font-family: "iranyekanwebbold.woff";
  src: local("iranyekanwebbold"),
    url(./assets/fonts/iranyekanwebbold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "iranyekanwebregular.woff";
  src: local("iranyekanwebregular"),
    url(./assets/fonts/iranyekanwebregular.woff) format("woff");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: IRANSansWeb, "sans-serif";
  text-decoration: none; */
}
